.module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section {
  height: 85vh;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  font-family: Arial, Helvetica, sans-serif;
  
  h1, h2, h3 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  } 

  h3 {
    font-size: 1.15rem;
    line-height: 2rem;
  }

  .graph {
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
  }
}

.thoughtColor {
  border-bottom: 1px solid #C70039;
  color: #C70039;
}

.opinionColor {
  border-bottom: 1px solid #900C3F;  
  color: #900C3F;
}

.judgementColor {
  border-bottom: 1px solid #FF5733;    
  color: #FF5733;
}

.normalColor {
  color: black;
}

.clarity {
  border-bottom: 1px solid black;
  color: white;
}