.checkbox__list {
  width: 450px; 
  max-width: 450px;
}

.annotation {
  position: absolute;
  right: 20px;

  font-size: 16px;
  color: red;
}

.checkbox__item__disabled__true {
  opacity: 0.1;
}

.checkbox__item__onclick__true {
  position: relative;
  top: 2px;
  left: 3px;    
  box-shadow: 0px 0px 0px 0px grey!important;
}

.checkbox__item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 2px 3px 0px 0px grey;

  position: relative;  
  width: 435px;

  .checkbox {
    display:inline-block;
    height: 22px;
    width: 22px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius:50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);    
  }

  .checkbox:before{
    content:"";
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:10px;
    top:4px;
  }

  .checkbox:after{
    content:"";
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:7px;
    top:10px;
  }

  .checkbox__checked {
    background: #c9ff00;
  }
}


.panel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
  width: 600px;

  .slider__container {
    display: flex;
    flex-direction: column;
    width: 275px; 
    
    margin-bottom: 1rem;
    
    .slider__input {
    }
  }

  .radio__container {
    margin-bottom: 1rem;

    .radio__input {

    }
  }

  .checkbox {
    .checkbox__input {
      
    }
  }

  .button__container {
    margin-bottom: 1rem;
    
    .button__input {

    }
  }
}



.lame__container {
  display: flex;
  
  position: relative;
  
  overflow: hidden;
  width: 600px;
  height: 200px;
  background: white;

  h3 {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 500px;
    transform: translate(-50%);
    font-size: 4rem;
    color: pink;
    animation: colour-change 2.2s infinite ease-in-out;    
  }

  .lame__item {
    min-width: 100px;
    
    transform: skew(-25deg);
    position: relative;
    left: -100px;
    
    animation: colour-expand 2.2s infinite ease-in;
  }

  .lame__item__broken {
    min-width: 50px;
    
    transform: skew(-5deg);
    position: relative;
    left: -40px;
    animation: colour-expand 2.2s infinite ease-in;
  }

  .lame__item__broken__colour {
    background: yellow;
    position: relative;
    top: 10px;
    border: 50px solid yellow;
  }

  @keyframes colour-change {
    0% {
      color: pink;
    }

    75% {
      color: cyan;
    }

    100% {
      color: cyan;      
    }
  }

  @keyframes colour-expand {
    0% {
      border-left: 1px solid white; 
    }
    
    100% {
      transform: scaleX(2);
      transform: rotate(4);
      transform: skew(0deg);      
      left: -80px;
      border-left: 100px solid pink;
      background: cyan;
    }
  }
}


